*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(104, 104, 104);
}
.container{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: rgb(104, 104, 104);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box1{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 260px;
    left: 220px;
    background-color: white;
    border-radius:  100px 0px 0px 0px;
    transform: rotateZ(45deg);
}
.box2{
    width: 200px;
    height: 200px;
    border:40px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: -65px;
    left: -70px;
    transform: rotateZ(315deg);
    animation: box2 3s infinite;
}
@keyframes box2{
    20%{
        border-top-color: rgb(104, 104, 104);
    }
    21%{
        border-top-color:  rgb(155, 150, 150);
    }
    100%{
        border-top-color:  rgb(104, 104, 104);
    }
}
.box3{
    width: 350px;
    height: 350px;
    border:40px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: -140px;
    left: -150px;
    transform: rotateZ(315deg);
    animation: box3 3s infinite;
}
@keyframes box3{
    40%{
        border-top-color: rgb(104, 104, 104);
    }
    41%{
        border-top-color:  rgb(155, 150, 150);
    }
    100%{
        border-top-color:  rgb(104, 104, 104);
    }
}
.box4{
    width: 500px;
    height: 500px;
    border:40px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: -220px;
    left: -230px;
    transform: rotateZ(315deg);
    animation: box4 3s infinite;
}
@keyframes box4{
    60%{
        border-top-color: rgb(104, 104, 104);
    }
    61%{
        border-top-color:  rgb(155, 150, 150);
    }
    100%{
        border-top-color:  rgb(104, 104, 104);
    }
}